#seaKing{
    height: 100vh;
    background: linear-gradient(180deg, rgb(20, 20, 199) 0%, rgba(2,0,36,1) 100%);
    display: block;
    justify-content: center;
    .avertissement{
        padding-top: 100px;
        text-align: center;
        font-size: 40px;
        color: #fff;
    }
    form{
        margin: 100px 35% 100px 35%;
        padding: 10px;
        border: 1px solid #ffffff;
        display: block;
        justify-content: center;
        label{
            margin: 20px;
            font-size: 25px;
            font-weight: bold;
            color: #fff;
        }
        #identifiant, #mail, #mdp{
            width: 500px;
            height: 50px;
            margin: 20px;
            background: #d4efff00;
            color: #fff;
            border-radius: 10px;
            font-size: 30px;
        }
        input::placeholder{
            color: #fff;
        }
        
        button{
            width: 50%;
            height: 25px;
            margin: 20px 25%;
            border-radius: 5px;
        }
        p{
            color: #fff;
            font-size: 20px;
        }
    }
}