#home {
  width: 100%;
  height: 100vh;
  background: #1d1d1d;
  position: relative;
}
#home img {
  height: 100%;
  width: 100%;
  opacity: 85%;
}
#home p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  text-align: center;
  color: #fff;
}