*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Almarai", sans-serif;
}

header {
  width: 100%;
  height: 10vh;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 99;
}
header img {
  width: 70px;
  height: 70px;
  position: fixed;
  left: 20px;
  top: 10px;
}
header ul {
  margin: 0 100px 0 0;
  display: flex;
  justify-content: flex-end;
}
header ul li {
  margin-right: 20px;
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: #fff;
}

#seaKing {
  height: 100vh;
  background: linear-gradient(180deg, rgb(20, 20, 199) 0%, rgb(2, 0, 36) 100%);
  display: block;
  justify-content: center;
}
#seaKing .avertissement {
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  color: #fff;
}
#seaKing form {
  margin: 100px 35% 100px 35%;
  padding: 10px;
  border: 1px solid #000;
  display: block;
  justify-content: center;
}
#seaKing form label {
  margin: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
#seaKing form #identifiant, #seaKing form #mdp {
  width: 500px;
  height: 50px;
  margin: 20px;
  background: #d4efff;
  border-radius: 10px;
}
#seaKing form button {
  width: 50%;
  height: 25px;
  margin: 20px 25%;
  border-radius: 5px;
}

#home {
  width: 100%;
  height: 100vh;
  background: #1d1d1d;
  position: relative;
}
#home img {
  height: 100%;
  width: 100%;
  opacity: 85%;
}
#home p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  text-align: center;
  color: #fff;
}

#homeSea {
  background: linear-gradient(180deg, rgb(0, 212, 255) 0, rgb(9, 9, 125) 93%, rgb(2, 0, 36) 100%);
  width: 100%;
  height: 200vh;
}
#homeSea #prez {
  width: 80%;
  height: 550px;
  padding-top: 5%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#homeSea #prez .description {
  width: 50%;
  display: block;
}
#homeSea #prez .description h2 {
  font-size: 35px;
  text-align: start;
  color: #fff;
}
#homeSea #prez .description hr {
  width: 10%;
  height: 5px;
  margin: 30px 0 30px 0;
  background: #fff;
}
#homeSea #prez .description p {
  font-size: 30px;
  color: #fff;
}
#homeSea #prez .description a {
  padding: 20px 25px;
  display: inline-block;
  margin-top: 25px;
  color: #fff;
  background: #0fc7ff;
  text-decoration: none;
  font-size: 25px;
  border-radius: 10px;
}
#homeSea #prez img {
  width: 400px;
  height: 450px;
}
#homeSea #projet {
  width: 80%;
  height: 550px;
  padding-top: 5%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#homeSea #projet .dev {
  width: 50%;
  display: block;
}
#homeSea #projet .dev h2 {
  font-size: 35px;
  text-align: start;
  color: #fff;
}
#homeSea #projet .dev hr {
  width: 10%;
  height: 5px;
  margin: 30px 0 30px 0;
  background: #fff;
}
#homeSea #projet .dev p {
  font-size: 30px;
  color: #fff;
}
#homeSea #projet .dev a {
  padding: 20px 25px;
  display: inline-block;
  margin-top: 25px;
  color: #fff;
  background: #0fc7ff;
  text-decoration: none;
  font-size: 25px;
  border-radius: 10px;
}
#homeSea #projet img {
  width: 400px;
  height: 400px;
}
#homeSea #design {
  width: 80%;
  height: 550px;
  padding-top: 5%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#homeSea #design .illustr {
  width: 50%;
  display: block;
}
#homeSea #design .illustr h2 {
  font-size: 35px;
  text-align: start;
  color: #fff;
}
#homeSea #design .illustr hr {
  width: 10%;
  height: 5px;
  margin: 30px 0 30px 0;
  background: #fff;
}
#homeSea #design .illustr p {
  font-size: 30px;
  color: #fff;
}
#homeSea #design .illustr a {
  padding: 20px 25px;
  display: inline-block;
  margin-top: 25px;
  color: #fff;
  background: #0fc7ff;
  text-decoration: none;
  font-size: 25px;
  border-radius: 10px;
}
#homeSea #design img {
  margin-top: 30px;
  width: 400px;
  height: 500px;
}

#contact {
  height: 100vh;
  background: linear-gradient(180deg, rgb(20, 20, 199) 0%, rgb(2, 0, 36) 100%);
}
#contact form {
  width: 50%;
  margin: auto;
  padding-top: 200px;
  display: block;
  justify-content: center;
}
#contact form label {
  color: #fff;
}
#contact form label #nom, #contact form label #prenom, #contact form label #mail, #contact form label #sujet {
  width: 500px;
  height: 50px;
}

#perso {
  height: 100vh;
  background: linear-gradient(180deg, rgb(20, 20, 199) 0%, rgb(2, 0, 36) 100%);
}

#illustr {
  height: 100vh;
  background: linear-gradient(180deg, rgb(20, 20, 199) 0%, rgb(2, 0, 36) 100%);
}

#pageProjet {
  height: 100vh;
  background: linear-gradient(180deg, rgb(20, 20, 199) 0%, rgb(2, 0, 36) 100%);
}

footer {
  width: 100%;
  height: 25vh;
  background: #020024;
}
footer hr {
  background: #fff;
  width: 50%;
  height: 2px;
  margin: auto;
}