*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Almarai", sans-serif;
}

header {
  width: 100%;
  height: 10vh;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 99;
}
header img {
  width: 70px;
  height: 70px;
  position: fixed;
  left: 20px;
  top: 10px;
}
header ul {
  margin: 0 100px 0 0;
  display: flex;
  justify-content: flex-end;
}
header ul li {
  margin-right: 20px;
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: #fff;
}
header button {
  text-decoration: none;
  color: #333;
}
header #burger-button {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  height: 50px;
  width: 60px;
  transform: translateY(-50%);
  font-size: 30px;
  color: #000;
  background: rgba(0, 0, 0, 0);
  border: none;
}
header #hamburger, header #content {
  display: inline;
}
header #overlay {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3098039216);
}
header #sidebar {
  width: 85%;
  z-index: 11;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgb(0, 212, 255) 0, rgb(9, 9, 125) 93%, rgb(2, 0, 36) 100%);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  display: none;
  position: fixed;
}
header #sidebar li {
  display: block;
}
header #hamburger-sidebar-header {
  height: 150px;
}
header #hamburger-sidebar-body {
  height: 500px;
  padding-block: 15px;
  padding-inline: 10px;
  display: block;
}
@media screen and (max-width: 1024px) {
  header #content {
    display: none;
  }
  header #burger-button, header #sidebar, header .hamburger-activated #overlay {
    display: block;
  }
  header #burger-button ul, header #sidebar ul, header .hamburger-activated #overlay ul {
    display: block;
    margin: auto;
    text-align: center;
  }
  header #burger-button ul li, header #sidebar ul li, header .hamburger-activated #overlay ul li {
    margin-top: 10px;
  }
  header #burger-button ul a, header #sidebar ul a, header .hamburger-activated #overlay ul a {
    color: #ffffff;
  }
  header #burger-button #hamburger-sidebar-header, header #sidebar #hamburger-sidebar-header, header .hamburger-activated #overlay #hamburger-sidebar-header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
  }
  header #burger-button #hamburger-sidebar-body, header #sidebar #hamburger-sidebar-body, header .hamburger-activated #overlay #hamburger-sidebar-body {
    font-size: 35px;
  }
  header .hamburger-activated #sidebar {
    transform: translateX(0);
  }
}
@media screen and (max-width: 720px) {
  header #burger-button {
    color: #fff;
  }
}

#seaKing {
  height: 100vh;
  background: linear-gradient(180deg, rgb(20, 20, 199) 0%, rgb(2, 0, 36) 100%);
  display: block;
  justify-content: center;
}
#seaKing .avertissement {
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  color: #fff;
}
#seaKing form {
  margin: 100px 35% 100px 35%;
  padding: 10px;
  border: 1px solid #ffffff;
  display: block;
  justify-content: center;
}
#seaKing form label {
  margin: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
#seaKing form #identifiant, #seaKing form #mail, #seaKing form #mdp {
  width: 90%;
  height: 50px;
  margin: 20px;
  background: rgba(212, 239, 255, 0);
  color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 30px;
}
#seaKing form input::-moz-placeholder {
  color: #fff;
}
#seaKing form input::placeholder {
  color: #fff;
}
#seaKing form button {
  width: 50%;
  height: 25px;
  margin: 20px 25%;
  border-radius: 5px;
}
#seaKing form p {
  color: #fff;
  font-size: 20px;
}

#home {
  width: 100%;
  height: 100vh;
  background: #1d1d1d;
  position: relative;
}
#home .img1 {
  height: 100%;
  width: 100%;
  opacity: 85%;
}
#home .img2 {
  height: 100%;
  width: 100%;
  opacity: 85%;
  display: none;
}
#home .homeIntro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  #home .homeIntro {
    font-size: 55px;
  }
}
@media screen and (max-width: 720px) {
  #home .img1 {
    display: none;
  }
  #home .img2 {
    display: block;
  }
}

#homeSea {
  background: linear-gradient(180deg, rgb(0, 212, 255) 0, rgb(9, 9, 125) 93%, rgb(2, 0, 36) 100%);
  width: 100%;
  height: 200vh;
}
#homeSea #prez {
  width: 80%;
  height: 550px;
  padding-top: 5%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#homeSea #prez .description {
  width: 50%;
  display: block;
}
#homeSea #prez .description h2 {
  font-size: 35px;
  text-align: start;
  color: #fff;
}
#homeSea #prez .description hr {
  width: 10%;
  height: 5px;
  margin: 30px 0 30px 0;
  background: #fff;
}
#homeSea #prez .description p {
  font-size: 30px;
  color: #fff;
}
#homeSea #prez .description a {
  padding: 20px 25px;
  display: inline-block;
  margin-top: 25px;
  color: #fff;
  background: #0fc7ff;
  text-decoration: none;
  font-size: 25px;
  border-radius: 10px;
}
#homeSea #prez img {
  width: 400px;
  height: 450px;
}
#homeSea #projet {
  width: 80%;
  height: 550px;
  padding-top: 5%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#homeSea #projet .dev {
  width: 50%;
  display: block;
}
#homeSea #projet .dev h2 {
  font-size: 35px;
  text-align: start;
  color: #fff;
}
#homeSea #projet .dev hr {
  width: 10%;
  height: 5px;
  margin: 30px 0 30px 0;
  background: #fff;
}
#homeSea #projet .dev p {
  font-size: 30px;
  color: #fff;
}
#homeSea #projet .dev a {
  padding: 20px 25px;
  display: inline-block;
  margin-top: 25px;
  color: #fff;
  background: #0fc7ff;
  text-decoration: none;
  font-size: 25px;
  border-radius: 10px;
}
#homeSea #projet img {
  width: 400px;
  height: 400px;
}
#homeSea #design {
  width: 80%;
  height: 550px;
  padding-top: 5%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#homeSea #design .illustr {
  width: 50%;
  display: block;
}
#homeSea #design .illustr h2 {
  font-size: 35px;
  text-align: start;
  color: #fff;
}
#homeSea #design .illustr hr {
  width: 10%;
  height: 5px;
  margin: 30px 0 30px 0;
  background: #fff;
}
#homeSea #design .illustr p {
  font-size: 30px;
  color: #fff;
}
#homeSea #design .illustr a {
  padding: 20px 25px;
  display: inline-block;
  margin-top: 25px;
  color: #fff;
  background: #0fc7ff;
  text-decoration: none;
  font-size: 25px;
  border-radius: 10px;
}
#homeSea #design img {
  margin-top: 30px;
  width: 400px;
  height: 500px;
}
@media screen and (max-width: 1024px) {
  #homeSea #prez .description h2 {
    font-size: 25px;
  }
  #homeSea #prez .description p {
    font-size: 20px;
  }
  #homeSea #prez .description hr {
    margin: 15px 0 15px 0;
  }
  #homeSea #prez img {
    width: 200px;
    height: 250px;
  }
  #homeSea #projet .dev h2 {
    font-size: 25px;
  }
  #homeSea #projet .dev p {
    font-size: 20px;
  }
  #homeSea #projet .dev hr {
    margin: 15px 0 15px 0;
  }
  #homeSea #projet img {
    height: 200px;
    width: 200px;
  }
  #homeSea #design .illustr h2 {
    font-size: 25px;
  }
  #homeSea #design .illustr p {
    font-size: 20px;
  }
  #homeSea #design .illustr hr {
    margin: 15px 0 15px 0;
  }
  #homeSea #design img {
    width: 200px;
    height: 300px;
  }
}
@media screen and (max-width: 720px) {
  #homeSea #prez {
    display: block;
  }
  #homeSea #prez .description {
    width: 100%;
    text-align: center;
  }
  #homeSea #prez .description h2 {
    text-align: center;
  }
  #homeSea #prez .description hr {
    margin: auto;
  }
  #homeSea #prez img {
    margin: 25px auto;
    display: flex;
    justify-content: center;
  }
  #homeSea #projet {
    display: block;
  }
  #homeSea #projet .dev {
    width: 100%;
    text-align: center;
  }
  #homeSea #projet .dev h2 {
    text-align: center;
  }
  #homeSea #projet .dev hr {
    margin: auto;
  }
  #homeSea #projet img {
    margin: 25px auto;
    display: flex;
    justify-content: center;
  }
  #homeSea #design {
    display: block;
  }
  #homeSea #design .illustr {
    width: 100%;
    text-align: center;
  }
  #homeSea #design .illustr h2 {
    text-align: center;
  }
  #homeSea #design .illustr hr {
    margin: auto;
  }
  #homeSea #design img {
    margin: 25px auto;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 720px) {
  #homeSea {
    height: 20vh;
  }
}
#contact {
  height: 150vh;
  background: linear-gradient(180deg, rgb(0, 212, 255) 0, rgb(9, 9, 125) 93%, rgb(2, 0, 36) 100%);
}
#contact .intro {
  width: 60%;
  height: 150px;
  margin: auto;
  padding-top: 150px;
  color: #fff;
  font-size: 25px;
  text-align: center;
}
#contact form {
  width: 35%;
  margin: 150px auto;
  padding: 20px 5%;
  text-align: center;
  display: block;
  border: 1px solid #fff;
  border-radius: 10px;
}
#contact form label {
  color: #fff;
  margin-top: 50px;
}

#nom, #prenom, #mail, #sujet, #demande, #identifiant, #mdp {
  margin: 5px 0 10px 0;
  width: 90%;
  height: 40px;
  font-size: 25px;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}

#demande {
  height: 70px;
  max-width: 100%;
  max-height: 100px;
}

#envoi, #connexion, #creation {
  width: 40%;
  height: 30px;
  margin: 0 25% 1% 25%;
  background: rgb(0, 212, 255);
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 25px;
}

#envoi {
  width: 50%;
  font-size: 20px;
  height: 50px;
}

p {
  color: #fff;
}

#link {
  width: 100%;
  color: #fff;
  text-align: center;
}

#comptes {
  height: 100vh;
  background: linear-gradient(180deg, rgb(0, 212, 255) 0, rgb(9, 9, 125) 93%, rgb(2, 0, 36) 100%);
}
#comptes form {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 200px;
  display: block;
  justify-content: center;
}
#comptes form label {
  color: #fff;
}
#comptes form label #nom, #comptes form label #prenom, #comptes form label #mail, #comptes form label #sujet {
  width: 500px;
  height: 50px;
}

main {
  height: 100vh;
  background: linear-gradient(180deg, rgb(0, 212, 255) 0, rgb(9, 9, 125) 93%, rgb(2, 0, 36) 100%);
}
main #presentation {
  width: 80%;
  height: 80vh;
  padding-top: 5%;
  margin: auto;
  display: flex;
}
main #presentation img {
  width: 400px;
  height: 500px;
}
main #presentation p {
  width: 60%;
  height: 100px;
  padding: 50px 0 0 80px;
  color: #fff;
  font-size: 28px;
}

#illustr {
  height: 100vh;
  background: linear-gradient(180deg, rgb(20, 20, 199) 0%, rgb(2, 0, 36) 100%);
}

#pageProjet {
  height: 100vh;
  background: linear-gradient(180deg, rgb(20, 20, 199) 0%, rgb(2, 0, 36) 100%);
}

#mentions {
  background: linear-gradient(180deg, rgb(0, 212, 255) 0, rgb(9, 9, 125) 93%, rgb(2, 0, 36) 100%);
  display: block;
}
#mentions .text {
  width: 80%;
  margin: auto;
  padding-top: 150px;
}
#mentions .text p {
  margin-top: 10px;
}

#rgpd {
  background: linear-gradient(180deg, rgb(0, 212, 255) 0, rgb(9, 9, 125) 93%, rgb(2, 0, 36) 100%);
  display: block;
}
#rgpd .textRgpd {
  width: 80%;
  margin: auto;
  padding-top: 150px;
}
#rgpd .textRgpd p {
  margin-top: 10px;
}
#rgpd .textRgpd h2 {
  color: #fff;
}
#rgpd .textRgpd ul li {
  color: #fff;
}
#rgpd .textRgpd ul li a {
  color: #fff;
}

footer {
  width: 100%;
  height: 25vh;
  background: #020024;
}
footer hr {
  background: #fff;
  width: 50%;
  height: 2px;
  margin: auto;
}
footer #il {
  display: flex;
  justify-content: center;
}
footer #il ul {
  align-items: center;
}
footer #il ul li {
  list-style: none;
  margin-top: 10px;
}
footer #il ul li a {
  text-decoration: none;
  color: #fff;
}